.circ {
    width: 100px;
    height: 100px;
    background: gray;
    border-radius: 50%;
    transition: transform 2s linear;
}
.circ:hover {
    transform: translateX(200px);
    transition: transform 1s linear;
  
}
/*------------------------------------------*/
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
.nav{
    display: flex; 
}
.nav li ul {
    display: block;
    opacity: 0;
    position: absolute;
    transition: opacity 1s;
    transition-delay: 0.5s;
}
.nav li:hover > ul {/*si se pasa por encima se abre el hijo directo */
    opacity: 1;
}
.nav li ul li {
    position: relative;
}
.nav li ul li {
    right: -50px;
}
/*------------------------------------section 3------------------------------*/
.section3 div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.pelota:hover .son{ /*el hover se hace sobre el padre*/
    transform: translateY(-15px);
    background-color: blue;
}
.son{
    background-color: brown;
}

