.container{
    width: 480px;
    height: 100px;
    background-color: dimgray;
    display: flex;
    justify-content: space-between;
    margin: 30px;
    border: 3px solid black;
    border-radius: 5px;
}
.container:hover .box {
    transform: scale(1.2);
}
.box{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.box1{
    background-color: blue;
    transition: transform 250ms;
}
.box2{
    background-color: rgb(58, 58, 150);
    transition: transform 500ms;
}
.box3{
    background-color: rgb(91, 91, 136);
    transition: transform 750ms;
}
.box4{
    background-color: rgb(151, 151, 165);
    transition: transform 1s;
}
/*-------------------------*SECTION TWO*--------------------*/
.section2{
    margin: 20px;
    border: solid black;
    border-radius: 5px;
    border-style: dotted;
}
.container2:hover .circle {
    transform: translateX(300px);
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.circle1 {
    background-color: rgb(8, 129, 235);
    transition: transform 0.5s linear;
    transition-delay: 0.5s;
}
.circle2 {
    background-color: rgb(32, 106, 172);
    transition: transform 1s ease;
    transition-delay: 1s;
}
.circle3 {
    background-color: rgb(44, 81, 112);
    transition: transform 1.5s ease-in;
    transition-delay: 1.5s;
}
.circle4 {
    background-color: rgb(46, 68, 87);
    transition: transform 2s ease-out;
    transition-delay: 2s;
}
.circle5 {
    background-color: rgb(59, 74, 87);
    transition: transform 1s ease-in-out;
    transition-delay: 2.5s;
}
.circle6 {
    background-color: rgb(59, 65, 70);
    transition: transform 3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 3s;
}
.circle7 {
    background-color: rgb(51, 53, 54);
    transition: transform 3.5s cubic-bezier(0.23, 1, 0.320, 1);
    transition-delay: 2.5s;
}